@import "../../utils/_mixins.scss";
.tutorial{
  &>view{
    text-align: center;
    @include card;
    margin-bottom: 30rpx;
    &>view{
      margin-bottom: 30rpx;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--black);
  }
  &__intro{
    font-size: 1em;
    color: var(--grey);
  }
  &__btn{
    @include btn(secondary);
  }
  &__link{
    @include link;
  }
  &__input{
    width: 100%;
    height: 80rpx;
  }
  &__item{
    border-top: 1px solid var(--grey);
    line-height: 60rpx;
    &:first-child{
      border-top:none;
    }
  }
}